
.footer {
  text-align: center;
  color: black;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 20px;
}

.inner {
  width: 40%;
}

.footer-logo img {
  width: 70px;
}

.accs {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.accs p {
  font-size: 1.8rem;
  margin-top: 3rem;
  width: 90%;
}

a {
  text-decoration: none;
  color: #202020;
}

